header {
    height: 72px;
    border: 1px solid #ccc;
}
table, td, th {
    border: 1px solid black;
  }
  
table {
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
  }

img {
      width: 90%;
      display: block;
      margin: 0 auto;
  }
  
.coluna1 {
    width: 32%;
    height: 500px;
    float: left;
    margin-right: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: antiquewhite;
}

.coluna2 {
    width: 32%;
    height: 500px;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: aquamarine;
}

.coluna3 {
    width: 32%;
    height: 500px;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: chartreuse;
}

footer {
    border: 1px solid #ccc;
    text-align: center;
    clear: both;
}