/*Estilo para todo o documento*/
body {
    margin: 0; padding: 0;
    background-color: #f0f0f0;
}
main {
    font-family:Arial, Helvetica, sans-serif;
}

/*Deixar conteúdos espaçados e distantes da borda*/
.flex{
    display: flex;
    justify-content: space-between;
    padding: 0 5%
}

/*Deixar texto centralizado*/
.txt-center {
    text-align: center;
}

/*Estilos do cabeçalho*/
div.redes-sociais{
    background-color: #f0f0f0;
    height: 30px
}
.redes-sociais img {
    float: left;
    width: 20px;
    height: 20px;
    padding: 5px 5px 5px 5px;
}
#social-right:not(:last-child){
    margin-right: 10px;
}
.cabecalho {
    align-items: center;
}
#telefone {
    float: left;
}
.redes-sociais img:hover {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 3px
}
header {
    background-color: #000;
    font-family: Garamond;
    color: #fff;
    width: 100%
}
header nav .lista-menu {
    list-style: none;
}
.lista-menu li {
    display: inline-flex;
}
.lista-menu li:not(:last-child){
    margin-right: 25px
}
.lista-menu li:hover{
    cursor: pointer;
    color: #ccc
}


/*Estilo padrão das colunas*/  
.coluna {
    padding: 10px 5px 30px 5px;
    flex: 1;    
}


/*Estilo padrão para os h2*/
h2 {
    text-align: center;
}

/*Estilo do formulário da primeira coluna*/
.form-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input[type="text"], input[type="email"], input[type="password"]{
    width: 50%;
    height: 20px;
}
input {
    margin-bottom: 10px;
}
input[type="submit"]{
    padding: 5px 20px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 15px;
    transition: ease 1s;

}
input[type="submit"]:hover{
    cursor: pointer;
    background-color: #f0f0f0;
    color: black;
    transition: ease 1s;
    border: 1px solid black;

}

/*Estilos da tabela da segunda coluna*/
#tabela{
    margin:0; padding: 0;
}
table {
    font-size: 1rem;
    border-collapse: collapse;
    width: 100%;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #32CD32;
  color: white;
}
td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
tr:nth-child(odd){
    background-color: #dcdcdc;
}
tr:hover {
    background-color: #A9A9A9;
}


/*Estilo do rodapé da página*/
footer {
    font-size: small;
    color: white;
    overflow: auto;
    background-color: #000;
    clear: both;
}
